[arc]
fracture=1
wear=3
alignment=5
sag=3
grouting=5

[polygon]
c1_ruttin_gen=5
c1_crazing=
c1_crack_craz=8
c1_peel_craz=3
c1_depr_craz=1
c1_rutting=1
c1_corrugat=1
c1_fleshing=1
c1_pothole=3
c1_long_crack=1
c1_tran_crack=1
c1_pas_adhes=1
c1_patch=1
c1_polished=1
c3_fracture=1
c3_wear=1
c3_projection=1
c3_homogen=1

[database]
connection_name=vialitat_db
schema_name=paviments
table_arc=arc
table_polygon=polygon
table_sector=plan_psector
field_arc=arc_id
field_polygon=pol_id
table_other_x_sector=plan_other_x_psector

[status]
toolbar_pavements_enabled=1
psector_id=1047
